include README.md
include LICENSE
include requirements.txt
include SentinelX.py
include cli.py
include pyproject.toml

recursive-include modules *.py
recursive-include tests *.py
recursive-include iocs *.json

recursive-include yara_rules *.yar
recursive-include yara_rules *.yara
recursive-exclude yara_rules/community *

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
